In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.datasets import make_classification
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import LabelEncoder, StandardScaler
from imblearn.over_sampling import SMOTE
from collections import Counter

/home/ahmad/.local/lib/python3.10/site-packages/matplotlib/projections/__init__.py:63: UserWarning: Unable to import Axes3D. This may be due to multiple versions of Matplotlib being installed (e.g. as a system package and as a pip package). As a result, the 3D projection is not available.
  warnings.warn("Unable to import Axes3D. This may be due to multiple versions of "

In [2]:
#generate dataset 
X, y = make_classification(n_samples=1000, n_features=15, n_informative=10, n_redundant=2, n_clusters_per_class=1, weights=[0.9], flip_y=0, random_state=42)
 
df = pd.DataFrame(X, columns=[f'fitur_{i}' for i in range(1, 16)])
df['target'] = y
df['fitur_12'] = np.random.choice(['A', 'B', 'C'], size=1000)
df['fitur_13'] = np.random.choice(['X', 'Y', 'Z'], size=1000)

df

,fitur_1,fitur_2,fitur_3,fitur_4,fitur_5,fitur_6,fitur_7,fitur_8,fitur_9,fitur_10,fitur_11,fitur_12,fitur_13,fitur_14,fitur_15,target
0,0.093303,-3.472520,-1.314199,3.525743,0.642138,2.247328,3.067502,1.146301,-2.173112,2.765828,-1.821258,B,Y,1.005559,-0.276558,0
1,-0.189574,-1.770842,-1.578851,-1.372201,-2.025230,0.518655,-0.764750,-3.958705,-0.598147,1.018789,4.194233,C,X,-0.243630,0.285979,0
2,0.916269,-2.051770,3.631998,0.824844,1.674093,-0.436273,-0.460407,0.031633,-1.140149,2.069694,1.935251,A,X,2.486020,-2.867291,0
3,-0.914665,-1.608657,-0.735184,-1.742743,-1.753532,0.383412,-1.057937,-2.897416,-0.830328,1.572469,5.334621,C,X,-0.788215,1.255376,0
4,-0.756784,-2.362885,-3.909120,-0.474571,-4.029843,0.947114,0.581146,-3.435229,-2.142380,2.332385,3.816539,A,Y,0.712335,2.810524,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,-1.927482,-0.017325,4.884411,0.542628,3.033376,-1.904407,0.953035,1.278882,-1.293396,1.772169,-1.191263,A,X,-0.387151,-2.629004,0
996,0.347761,-1.690916,5.949207,-2.289729,2.238469,-0.067922,-0.069702,-1.436622,-2.153011,-0.867583,3.962758,C,X,0.886822,-1.248408,0
997,1.201967,-1.263417,-1.331925,-2.468434,1.777577,2.270456,-0.431749,-1.846263,1.753033,1.858452,4.264568,C,Y,0.067260,0.931995,1
998,-2.127846,-0.975838,0.279144,0.151578,-0.443749,0.650616,-1.410265,-1.017319,-0.643070,2.142898,3.399255,B,Y,-0.128774,0.800834,0
999,0.612706,1.387667,-5.554578,0.184660,-2.834755,2.254786,0.936753,-1.932864,2.625895,0.246120,0.786726,C,Z,-0.583111,2.511309,0

In [5]:
df

,fitur_1,fitur_2,fitur_3,fitur_4,fitur_5,fitur_6,fitur_7,fitur_8,fitur_9,fitur_10,fitur_11,fitur_12,fitur_13,fitur_14,fitur_15,target
0,0.093303,-3.472520,-1.314199,3.525743,0.642138,2.247328,3.067502,1.146301,-2.173112,2.765828,-1.821258,B,Y,1.005559,-0.276558,0
1,-0.189574,-1.770842,-1.578851,-1.372201,-2.025230,0.518655,-0.764750,-3.958705,-0.598147,1.018789,4.194233,C,X,-0.243630,0.285979,0
2,0.916269,-2.051770,3.631998,0.824844,1.674093,-0.436273,-0.460407,0.031633,-1.140149,2.069694,1.935251,A,X,2.486020,-2.867291,0
3,-0.914665,-1.608657,-0.735184,-1.742743,-1.753532,0.383412,-1.057937,-2.897416,-0.830328,1.572469,5.334621,C,X,-0.788215,1.255376,0
4,-0.756784,-2.362885,-3.909120,-0.474571,-4.029843,0.947114,0.581146,-3.435229,-2.142380,2.332385,3.816539,A,Y,0.712335,2.810524,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,-1.927482,-0.017325,4.884411,0.542628,3.033376,-1.904407,0.953035,1.278882,-1.293396,1.772169,-1.191263,A,X,-0.387151,-2.629004,0
996,0.347761,-1.690916,5.949207,-2.289729,2.238469,-0.067922,-0.069702,-1.436622,-2.153011,-0.867583,3.962758,C,X,0.886822,-1.248408,0
997,1.201967,-1.263417,-1.331925,-2.468434,1.777577,2.270456,-0.431749,-1.846263,1.753033,1.858452,4.264568,C,Y,0.067260,0.931995,1
998,-2.127846,-0.975838,0.279144,0.151578,-0.443749,0.650616,-1.410265,-1.017319,-0.643070,2.142898,3.399255,B,Y,-0.128774,0.800834,0
999,0.612706,1.387667,-5.554578,0.184660,-2.834755,2.254786,0.936753,-1.932864,2.625895,0.246120,0.786726,C,Z,-0.583111,2.511309,0

In [6]:
df.describe()

,fitur_1,fitur_2,fitur_3,fitur_4,fitur_5,fitur_6,fitur_7,fitur_8,fitur_9,fitur_10,fitur_11,fitur_14,fitur_15,target
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,-0.021864,-0.787273,0.521908,-1.201971,-0.716439,0.966614,0.020432,-1.026768,-0.832436,0.770458,2.318585,-0.016307,0.770747,0.099000
std,1.041909,1.742714,4.056711,2.147036,2.145203,1.763500,0.990088,2.022665,1.394538,1.911714,3.232303,1.007038,1.818421,0.298811
min,-4.019121,-5.618801,-12.096483,-7.339003,-8.199561,-4.025823,-3.757435,-8.050532,-5.013322,-5.015489,-7.447687,-4.064603,-4.868410,0.000000
25%,-0.719601,-2.039060,-2.135619,-2.675640,-2.105507,-0.177187,-0.693785,-2.362896,-1.749821,-0.514211,0.149632,-0.652753,-0.428587,0.000000
50%,-0.014321,-0.801467,0.700139,-1.316090,-0.555894,0.939640,-0.000669,-1.054696,-0.890507,0.715275,2.478838,0.022116,0.802388,0.000000
75%,0.625553,0.403389,3.121297,0.257590,0.741854,2.120475,0.728664,0.334995,0.015331,2.060208,4.505295,0.687650,2.049138,0.000000
max,2.917033,4.710948,13.222626,6.658084,5.834067,6.684415,3.103384,5.509882,4.729345,6.837374,10.805523,2.853623,6.144310,1.000000

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 16 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   fitur_1   1000 non-null   float64
 1   fitur_2   1000 non-null   float64
 2   fitur_3   1000 non-null   float64
 3   fitur_4   1000 non-null   float64
 4   fitur_5   1000 non-null   float64
 5   fitur_6   1000 non-null   float64
 6   fitur_7   1000 non-null   float64
 7   fitur_8   1000 non-null   float64
 8   fitur_9   1000 non-null   float64
 9   fitur_10  1000 non-null   float64
 10  fitur_11  1000 non-null   float64
 11  fitur_12  1000 non-null   object
 12  fitur_13  1000 non-null   object
 13  fitur_14  1000 non-null   float64
 14  fitur_15  1000 non-null   float64
 15  target    1000 non-null   int64
dtypes: float64(13), int64(1), object(2)
memory usage: 125.1+ KB

In [13]:
x = df.drop('target', axis=1)
y = df['target']

print(f'Distribusi kelas sebelum SMOTE : {Counter(y)}')

Distribusi kelas sebelum SMOTE : Counter({0: 901, 1: 99})

In [30]:
numerical

,fitur_1,fitur_2,fitur_3,fitur_4,fitur_5,fitur_6,fitur_7,fitur_8,fitur_9,fitur_10,fitur_11,fitur_14,fitur_15,target
0,0.093303,-3.472520,-1.314199,3.525743,0.642138,2.247328,3.067502,1.146301,-2.173112,2.765828,-1.821258,1.005559,-0.276558,0
1,-0.189574,-1.770842,-1.578851,-1.372201,-2.025230,0.518655,-0.764750,-3.958705,-0.598147,1.018789,4.194233,-0.243630,0.285979,0
2,0.916269,-2.051770,3.631998,0.824844,1.674093,-0.436273,-0.460407,0.031633,-1.140149,2.069694,1.935251,2.486020,-2.867291,0
3,-0.914665,-1.608657,-0.735184,-1.742743,-1.753532,0.383412,-1.057937,-2.897416,-0.830328,1.572469,5.334621,-0.788215,1.255376,0
4,-0.756784,-2.362885,-3.909120,-0.474571,-4.029843,0.947114,0.581146,-3.435229,-2.142380,2.332385,3.816539,0.712335,2.810524,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,-1.927482,-0.017325,4.884411,0.542628,3.033376,-1.904407,0.953035,1.278882,-1.293396,1.772169,-1.191263,-0.387151,-2.629004,0
996,0.347761,-1.690916,5.949207,-2.289729,2.238469,-0.067922,-0.069702,-1.436622,-2.153011,-0.867583,3.962758,0.886822,-1.248408,0
997,1.201967,-1.263417,-1.331925,-2.468434,1.777577,2.270456,-0.431749,-1.846263,1.753033,1.858452,4.264568,0.067260,0.931995,1
998,-2.127846,-0.975838,0.279144,0.151578,-0.443749,0.650616,-1.410265,-1.017319,-0.643070,2.142898,3.399255,-0.128774,0.800834,0
999,0.612706,1.387667,-5.554578,0.184660,-2.834755,2.254786,0.936753,-1.932864,2.625895,0.246120,0.786726,-0.583111,2.511309,0

In [51]:
rf_model = RandomForestClassifier(n_estimators=100, random_state=42)
numerical = x.drop(['fitur_12', 'fitur_13'], axis=1)
rf_model.fit(numerical, y)

#mendapatkan fitur penting
importance = rf_model.feature_importances_
indices = np.argsort(importance)[::-1]

treshold = 0.05
important_feature_indices = [i for i in range(len(importance)) if importance[i] >= treshold]
important_feature_indices

print('Fitur yang didapatkan dari ambang batas treshold')
for i in important_feature_indices:
    print(f'{numerical.columns[i]} : {importance[i]}')

important_features = numerical.columns[important_feature_indices]
important_features = numerical[important_features]
print(important_features)
print("Dimensi data pelatihan dengan fitur penting :", important_features.shape)

Fitur yang didapatkan dari ambang batas treshold
fitur_2 : 0.11860019897866206
fitur_3 : 0.06878603593465271
fitur_5 : 0.07731131335837178
fitur_8 : 0.050482655781999855
fitur_9 : 0.2625049418105367
fitur_10 : 0.08958259568334655
fitur_11 : 0.06365230544114515
fitur_15 : 0.12578161860669113
      fitur_2   fitur_3   fitur_5   fitur_8   fitur_9  fitur_10  fitur_11  \
0   -3.472520 -1.314199  0.642138  1.146301 -2.173112  2.765828 -1.821258
1   -1.770842 -1.578851 -2.025230 -3.958705 -0.598147  1.018789  4.194233
2   -2.051770  3.631998  1.674093  0.031633 -1.140149  2.069694  1.935251
3   -1.608657 -0.735184 -1.753532 -2.897416 -0.830328  1.572469  5.334621
4   -2.362885 -3.909120 -4.029843 -3.435229 -2.142380  2.332385  3.816539
..        ...       ...       ...       ...       ...       ...       ...
995 -0.017325  4.884411  3.033376  1.278882 -1.293396  1.772169 -1.191263
996 -1.690916  5.949207  2.238469 -1.436622 -2.153011 -0.867583  3.962758
997 -1.263417 -1.331925  1.777577 -1.846263  1.753033  1.858452  4.264568
998 -0.975838  0.279144 -0.443749 -1.017319 -0.643070  2.142898  3.399255
999  1.387667 -5.554578 -2.834755 -1.932864  2.625895  0.246120  0.786726

     fitur_15
0   -0.276558
1    0.285979
2   -2.867291
3    1.255376
4    2.810524
..        ...
995 -2.629004
996 -1.248408
997  0.931995
998  0.800834
999  2.511309

[1000 rows x 8 columns]
Dimensi data pelatihan dengan fitur penting : (1000, 8)

In [58]:
x_selected = pd.concat([important_features, x['fitur_12']], axis=1)
x_selected = pd.concat([x_selected, x['fitur_13']], axis=1)

x_selected

,fitur_2,fitur_3,fitur_5,fitur_8,fitur_9,fitur_10,fitur_11,fitur_15,fitur_12,fitur_13
0,-3.472520,-1.314199,0.642138,1.146301,-2.173112,2.765828,-1.821258,-0.276558,B,Y
1,-1.770842,-1.578851,-2.025230,-3.958705,-0.598147,1.018789,4.194233,0.285979,C,X
2,-2.051770,3.631998,1.674093,0.031633,-1.140149,2.069694,1.935251,-2.867291,A,X
3,-1.608657,-0.735184,-1.753532,-2.897416,-0.830328,1.572469,5.334621,1.255376,C,X
4,-2.362885,-3.909120,-4.029843,-3.435229,-2.142380,2.332385,3.816539,2.810524,A,Y
...,...,...,...,...,...,...,...,...,...,...
995,-0.017325,4.884411,3.033376,1.278882,-1.293396,1.772169,-1.191263,-2.629004,A,X
996,-1.690916,5.949207,2.238469,-1.436622,-2.153011,-0.867583,3.962758,-1.248408,C,X
997,-1.263417,-1.331925,1.777577,-1.846263,1.753033,1.858452,4.264568,0.931995,C,Y
998,-0.975838,0.279144,-0.443749,-1.017319,-0.643070,2.142898,3.399255,0.800834,B,Y
999,1.387667,-5.554578,-2.834755,-1.932864,2.625895,0.246120,0.786726,2.511309,C,Z